/* ===========================
  Header
=========================== */

.header {
  position: relative;
  max-height: 10rem;
  z-index: 1030;

  .logo {
    -o-transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    background: $white;
    border-right: 1px solid $medium-gray;
    display: block;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
    overflow: hidden;
    padding: 0 1.5rem;
    text-align: center;
    transition: width .3s ease-in-out;
    width: 23rem;

    .img {
      display: block;
      padding: 1.4rem 2rem 1.5rem 0rem;
    }
  }

  .navbar {
    -o-transition: margin-left .3s ease-in-out;
    -webkit-transition: margin-left .3s ease-in-out;
    border-bottom: 1px solid $medium-gray;
    margin: 0;
    margin-left: 23rem;
    min-height: 5rem;
    transition: margin-left .3s ease-in-out;

    & .toggle {
      color: #9ca5af;
      border-right: 0;
      float: left;
      font-size: 2rem;
      padding: 1rem 1.5rem;
    }

    & .menu {
      float: right;
    }
  }
}
