/* ===========================
  Pagination
=========================== */

.pagination {
  display: block;

  a {
    background: $primary-color;
    color: $white;
    display: block;
    float: left;
    font-size: 1.6rem;
    height: 3rem;
    margin: 0 .5rem 0 0;
    padding: .5rem 2rem 0 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: $secondary-color;
    }
  }

  .previous {
    a {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;

      &:before {
        content: "";
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid $primary-color;
        position: absolute;
        top: 0;
        left: -15px;
      }

      &:hover {
        &:before{
          border-right-color: $secondary-color;
        }
      }
    }
  }

  .next {
    a {
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;

      &:after{
        content: "";
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid $primary-color;
        position: absolute;
        right: -15px;
        top: 0;
        z-index: 1;
      }

      &:hover {
        &:after{
          border-left-color: $secondary-color;
        }
      }
    }
  }
}
