/* ===========================
  Panel
=========================== */

.panel {
  background: #f3f3f3;
  display: block;
  margin: 2rem auto 1rem auto;
  padding: 1rem 0;

  & .info {
  }

  & .icon {
    font-size: 4rem;
    color: #e9bd00;
    padding: 1rem;
  }

  &.transparent {
    background: transparent;
    min-height: 80rem;
  }
}
