/* ===========================
  Sidebar
=========================== */

.sidebar {
	flex-shrink: 0;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
  -webkit-flex-shrink:0;
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
  background: $dark-blue;
  height: 100%;
  left: 0;
  min-height: 10rem;
  padding-bottom: 1rem;
  padding-top: 5rem;
  position: absolute;
  top: 0;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
  width: 23rem;
  z-index: 810;

  & .user-panel {
    overflow: hidden;
    padding: 2rem 1.5rem;
    position: relative;
    white-space: nowrap;
    width: 100%;
  }

  .menu {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      position: relative;
      margin: 0;
      padding: 0;

      & a {
        padding: 16px 15px;
        display: block;
        border-left: 3px solid transparent;
        color: #9ca5af;
        font-size: 14px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.75);

        &:hover,
        &:focus,
        &active{
          text-decoration: none;
        }

        i{
          width: 25px;
          font-size: 18px;
        }
      }

      &.active a,
      &:hover a,
      &:focus a,
      &:active a{
        color: #fff;
        text-decoration: none;
        background: #142b3a;
        border-left-color: #13c1f4;
      }
    }
  }
}
