/* ===========================
  Topbar
=========================== */

.topbar {
  .logos {
    display: block;
    width: 100%;
    height: 5rem;

    .ea-logo {
      display: block;
      float: left;
      font-size: 2rem;
      height: 5rem;
      line-height: 5rem;
      overflow: hidden;
      padding: 0 1.5rem;
      text-align: center;
      transition: width .3s ease-in-out;
      width: 23rem;

      .img {
        display: block;
        padding: 1.4rem 2rem 1.5rem 0rem;
      }
    }
  }

  .title-panel {
    background: $light-blue;
    display: block;

    h3, h4 {
      line-height: 3rem;
    }

    .title {
      float: left;
    }

    .name {
      float: right;
    }
  }

}

// /**
//  * KeyFrames
//  */
//
//  @keyframes loading {
//      0%   {
//        transform: rotate(0deg);
//      }
//      25% {
//        transform: rotate(90deg);
//      }
//      50% {
//        transform: rotate(180deg);
//      }
//      75% {
//        transform: rotate(270deg);
//      }
//      100% {
//        transform: rotate(360deg);
//      }
//  }
//
// /**
//  * Mixins
//  */
//
// @mixin arrow-left {
//   content: "";
//   border-top: 1.5rem solid transparent;
//   border-bottom: 1.5rem solid transparent;
//   border-left: 1.5rem solid $white;
//   position: absolute;
//   left: 0;
//   top: 0;
// }
//
// @mixin arrow-right {
//   content: "";
//   border-top: 1.5rem solid transparent;
//   border-bottom: 1.5rem solid transparent;
//   border-left: 1.5rem solid $primary-color;
//   position: absolute;
//   right: -1.5rem;
//   top: 0;
//   z-index: 1;
// }
//
//
// @mixin arrow-right-active {
//   border-left: 1.5rem solid $secondary-color !important;
// }
//
// /**
//  * Page Header
//  */
//
// .topbar {
//   border-bottom: 1px solid $light-gray;
//
//   h3 {
//     font-weight: normal;
//     font-size: 2.8rem;
//   }
//
//   h4 {
//     text-transform: capitalize;
//     font-size: 2.4rem;
//     font-weight: normal;
//     margin: 2.5rem 0;
//   }
//
//   .action {
//     cursor: pointer;
//     margin: 2rem 0;
//
//     .icon-label {
//       color: $primary-text-color;
//       font-size: 1.6rem;
//       font-weight: normal;
//     }
//
//     .icon {
//       color: #ab574e;
//       width: 3.5rem;
//       font-size: 2.56rem;
//       height: 2rem;
//       text-align: center;
//     }
//
//     .loading {
//       animation: loading .6s infinite;
//       text-align: center;
//     }
//   }
//
//   .today {
//     font-size: 2.2rem;
//     margin: 2rem 0;
//   }
// }
//
// /**
//  * Navbar
//  */
//
// .navbar {
//   margin: 0 1.5rem;
//
//   .navigation {
//     border: none;
//     list-style: none;
//     display: inline-table;
//     margin-bottom: 0;
//
//     li {
//       display: inline-block;
//       margin: 0;
//
//       a {
//         background: $primary-color;
//         border-radius: 0;
//         border: none !important;
//         color: $white;
//         display: block;
//         float: left;
//         font-size: 1.6rem;
//         height: 3rem;
//         line-height: 1.9rem;
//         padding: .5rem .5rem 0 2rem;
//         margin-right: .5rem;
//         text-align: center;
//
//         &:hover {
//           background: $secondary-color;
//           &:after {
//             @include arrow-right-active;
//           }
//         }
//
//         &:before {
//           @include arrow-left;
//         }
//
//         &:after {
//           @include arrow-right;
//         }
//       }
//
//       &:first-child {
//         a {
//           border-top-left-radius: 3px;
//           border-bottom-left-radius: 3px;
//
//           &:before{
//             border-left: none
//           }
//         }
//       }
//
//       &:last-child {
//         a {
//           border-top-right-radius: 3px;
//           border-bottom-right-radius: 3px;
//         }
//
//         &:after{
//           border-left: none
//         }
//       }
//     }
//
//     li.active {
//       a {
//         background: $secondary-color;
//         color: $white;
//         &:after {
//           @include arrow-right-active;
//         }
//       }
//     }
//   }
//
//   .share {
//     .icon-label {
//       margin-right: 2rem;
//       margin-top: .5rem;
//     }
//
//     .icon {
//       background: $white;
//       border-radius: .3rem;
//       border: 1px solid;
//       color: $primary-color;
//       cursor: pointer;
//       display: block;
//       float: right;
//       font-size: 1.6em;
//       height: 30px;
//       margin-left: .5rem;
//       margin-top: -.5rem;
//       padding-top: .3rem;
//       text-align: center;
//       vertical-align: middle;
//       width: 3.5rem;
//
//       &:hover {
//         background: $secondary-color;
//         color: $white;
//       }
//     }
//   }
// }
//
// .print {
//   .topbar {
//     border-bottom: 2px solid $dark-gray;
//     margin-top: 2rem;
//     margin-bottom: 1rem;
//
//     h3 {
//       margin-top: 3rem;
//     }
//   }
//}
