/* ===========================
 Base
=========================== */

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $primary-text-color;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  font-family: 'Helvetica Neue', Helvetica;
}

@media (min-width: 1200px) {
  .container {
    width: 118rem;
    padding: 2rem 0;
  }
}
