/* ===========================
 Layout
=========================== */


html, body {
  height: 100%;
}

/**
 * Main container
 */

.main-container {
  height: 100%;
}

/**
 * Main content
 */

.main-content {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;

  .inner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    -webkit-flex-grow:1;
    flex-grow:1;
    padding: 3rem 3rem 3rem 26rem;
  }
}


/**
 * Footer
 */

footer {
  .disclaimer {
    color: $secondary-text-color;
    font-size: 1.4rem;
    margin: 1.4rem 0;
    padding: 0px 0.5rem;
  }
}
