/* ===========================
 Variables
=========================== */

/**
 * Global Colors
 */

$black: #666;
$dark-blue: #173142;
$light-blue: #ECF0F1;
$lighter-blue: #27C2F1;
$dark-gray: #808080;
$light-gray: #EEE;
$medium-gray: #9CA5AF;
$white: #FFF;

/**
 * Theme colors
 */

$primary-text-color: #2f4a5d;
$secondary-text-color: #999999;
$primary-color: #9bcce0;
$secondary-color: #44a6ca;
$links-color: #006699;
$links-background-color: #37C2EF;

/**
 * Emotion colors
 */

$happiness-color: #FE0183;
$surprise-color: #FFA500;
$sadness-color: #3FC4F8;
$disgust-color: #9B2FA8;
$fear-color: #84B829;
$anger-color: #1B4B5E;
$neutral-color: #C6C6C6;

/**
 * Relation colors
 */

$mine-color: #2FAE65;
$spouse-color: #EF9A3B;
$peers-color: #5493A5;
